
body{
  margin: 0;
}
.flexBoxContainer{
  display:flex;
}
/* 
.sign-in {
  color: black;
  background: #7289DA;
  height: 5vh;
  font-size: 25px;
  float: center;
  margin-top: 2vh;
  width: 25%;
  
}

.column{
  justify-content:center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 125px;
}

.logo{
  height: 500px;
  width: 500px;
} */
